@use '/src/assets/scss/partials/variables' as *;
@use '/src/assets/scss/partials/myutilities.scss' as *;
@use '/src/assets/scss/partials/header.scss';
@use '/src/assets/scss/partials/main.scss';
@use '/src/assets/scss/partials/footer.scss';
/*CSS reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
    font-size: small;
}
