@use '/src/assets/scss/partials/variables' as *;
@use '/src/assets/scss/partials/myutilities.scss' as *;

/*CSS reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
    font-size: small;
}

/*header*/
header {
    width: 100%;
    height: auto;
    background-color: $primaryColor;

    .header_container {
        max-width: 100%;
        justify-content: space-between;
        align-items: center;
        color: $lightColor;
        font-size: small;
        padding-top: 1%;
        padding-bottom: 1%;
    }

    ul {
        display: flex;
        margin: 0;
        list-style: none;
        padding: 0%;

        li {
            padding-right: 10px;
        }
    }

    .nav_logo {
        max-height: 20px;
        width: auto;
    }

    i {
        padding: 5px;
    }
}



/*Main area*/
.main_container,
.card,
.card_up,
.main_image,
.hover_image {
    max-width: 100%;
}


/*How to change image*/
.hover_image {
    display: none;
}

.card:hover .main_image {
    display: none;
}

.card:hover .hover_image {
    display: block;
}

/*end how to change image*/


/*buttons colours*/
p> :first-child {
    color: $discountColor;
}

p> :nth-child(2) {
    text-decoration: line-through;
}

/*buttons position inside the card*/
.card_up {
    position: relative;
    .heart {
        position: absolute;
        top: 0;
        right: 0;
        background-color: $lightColor;
        padding: 1%;
        padding-left: 3%;
        padding-right: 3%;
    }

    .btn_img {
        max-width: 100%;
        position: absolute;
        top: 85%;
        display: flex;
        color: $lightColor;
        max-width: 50%;
    }

}

/*end of the main area*/



/*footer area*/
footer {
    width: 100%;
    background-color: black;
    color: $lightColor;
}

.footer_container {
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    i{
        padding: 5px;
    }
}

/*end of the footer area*/