@use '/src/assets/scss/partials/variables' as *;

/*Utilities*/

.container_75 {
    width: 75%;
    margin: auto;
}

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.row {
    flex-wrap: wrap;
}

.col {
    max-width: 100%;
}

.fav-col{
    min-width: 15%;
    height: 100%;
}

.col-4 {
    width: calc((100%/12)*4);
}


.col-12 {
    width: 100%;
}


.small_text {
    font-size: x-small;
    font-weight: 100;
}

.p-1 {
    padding: 1rem;
}

.text_bold {
    font-weight: bold;
}

.text-center {
    text-align: center;
}

.like-it {
    color: red;
}